<div class="jumbotron">
    <h1>How many '<em><%= @letter %></em>'s in <strong>Bulbasaur<strong>?</h1>
    <p class="lead">Still simple question, but now it's more helpful than just knowing <em>a</em>.</p>
</div>
<blockquote class="blockquote text-center">
    <p class="lead" style="border: black; border-style: dotted;">
        <% if @letter_count %>
            <%= @letter_count %>
        <% else %>
            ???
        <% end %>
    </p>
    <footer>
        <%= form_tag(simple_count_any_letter_path, method: :get) do %>
            <%= text_field_tag :letter, '', maxlength: 1 %>
            <%= submit_tag 'Count',  class: "btn btn-primary btn-small" %>
        <% end %>
    </footer>
</blockquote>
